.principal {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #ffffff;
	opacity: 1;
	background-image:  radial-gradient(#888888 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#888888 0.7000000000000001px, #ffffff 0.7000000000000001px);
	background-size: 28px 28px;
	background-position: 0 0,14px 14px;
}


.datos_memoria {
	width: 100%;
	max-width: 400px;
	margin-top: 1%;
	margin: 10px;
	-webkit-perspective: 1500;
	perspective: 1500;

}

.ficha_gen {
	width: 100%;
	max-width: 800px;
	margin-top: 1%;
	margin: 10px;
	-webkit-perspective: 1500;
	perspective: 1500;

}

.procesos_lista {
	width: 100%;
	max-width: 900px;
	margin-top: 1%;
	margin: 10px;
	-webkit-perspective: 1500;
	perspective: 1500;

}

.datos {
	width: 100%;
	height: 250px;
	background-color: #ff9b11;
	;
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s ease;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	text-align: center;


}

form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #f47a21;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.ficha {
	width: 100%;
	height: 800px;
	background-color: #ff9b11;
	;
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s ease;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	overflow: scroll;
	text-align: center;


}

.proceso {
	width: 100%;
	height: 800px;
	background-color: #ff9b11;
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s ease;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	overflow: scroll;


}

table {
	width: 90%;
	margin-left: 5%;
	border-collapse: collapse;
	margin-top: 10px;
}


tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
	text-align: center;
}

td,
th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: center;
}

table .imagen_ejr {
	width: 90px;
	height: 90px;
}

.adelante,
.atras {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.adelante h1 {
	padding: 10px;
	background: rgba(51, 51, 51, 0.7);
	color: rgba(243, 238, 218, 1);
	opacity: 0.9;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 15px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.adelante .h1_datos{
	padding: 10px;
	background: rgba(51, 51, 51, 0.7);
	color: rgba(243, 238, 218, 1);
	opacity: 0.9;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 15px;
	margin-top: 17px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 25px;
}

.adelante a{
	padding: 10px;
	line-height: 50px;
	background: #f47a21;
	color: black;
	opacity: 0.9;
	border-radius: 15px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	height:60px;
	border: none;
	background: #f47a21;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	
}
.adelante a:hover{
	background: #f3934e;
}

a .add_ficha{
	font-family: 'Courier New', Courier, monospace;
}

footer {
	width: 100%;
	background: rgba(51, 51, 51, 0.9);
}

.contenedor p {
	text-align: center;
	color: white;
	font-style: 28px;
}

.sociales {
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.sociales a {
	color: white;
}
.btn-popup-agregar-rutina {
	margin-bottom: 20px;
	height:60px;
	border: none;
	background: #f47a21;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.btn-popup-agregar-rutina:hover {
	background: #f99450;
}
.select
{
	display: block;
	font-size: 16px;
	font-family: 'Verdana', sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .3em .8em;
	width: 400px;
	max-width: 100%; 
	box-sizing: border-box;
   margin: 20px auto;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	text-align: center;
  }
  .select::-ms-expand {
	display: none;
  }
  .select:hover {
	border-color: #888;
  }
  .select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
  }
  .select

  option {
	font-weight:normal;
  }
  
  
  .classOfElementToColor:hover {background-color:red; color:black}
  
  .select

  option[selected] {
	  background-color: orange;
  }
  form  input {
	margin-bottom: 20px;
	height: 40px;
	width: 200px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border-radius: 10px;
}
form text {
	width: 100%;
	height: 150px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	margin-top: 0%;
	margin-bottom: 20px;
}
form .btn_actu {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	background: #f47a21;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	text-align: center;
}

form .btn_actu:hover {
	background: #db86498c;
}