.principal {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #ffffff;
	opacity: 1;
	background-image:  radial-gradient(#888888 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#888888 0.7000000000000001px, #ffffff 0.7000000000000001px);
	background-size: 28px 28px;
	background-position: 0 0,14px 14px;
}


.datos_memoria {
	width: 100%;
	max-width: 400px;
	margin-top: 1%;
	margin: 10px;
	-webkit-perspective: 1500;
	perspective: 1500;

}

.procesos_lista {
	width: 100%;
	max-width: 525px;
	margin-top: 1%;
	margin: 10px;
	-webkit-perspective: 1500;
	perspective: 1500;
	text-align: center;

}

.datos {
	width: 100%;
	height: 250px;
	background-color:#0702232c;
	;
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s ease;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	text-align: center;


}

form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #282625;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.proceso {
	width: 100%;
	height: 800px;
	background-color: #0702232c;
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s ease;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	overflow: scroll;


}

.adelante,
.atras {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.adelante h1 {
	padding: 10px;
	background: rgba(51, 51, 51, 0.7);
	color: rgba(243, 238, 218, 1);
	opacity: 0.9;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 15px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.adelante .h1_datos{
	padding: 10px;
	background: rgba(51, 51, 51, 0.7);
	color: rgba(243, 238, 218, 1);
	opacity: 0.9;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 15px;
	margin-top: 17px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 25px;
}

.adelante a{
	padding: 10px;
	line-height: 50px;
	color: rgb(18, 18, 18);
	opacity: 0.9;
	border-radius: 15px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	height:60px;
	border: none;
	background: #efede8;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	
}
.adelante a:hover{
	background: #efede88a;
}

footer {
	width: 100%;
	background: rgba(51, 51, 51, 0.9);
}

input {
	margin-bottom: 20px;
	height: 40px;
	width: 200px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border-radius: 10px;
}